h1 {
    font-family: 'Fascinate Inline', cursive;
    color: white;
    font-size: 10vh;
    display: inline;
}

.diceimage {
    max-width:40%;
    height: auto;
    padding: 13vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/07/16/46/roll-the-dice-1502706_1280.jpg);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    margin: auto;
    font-size: 5vh;
    padding: 2vh;
    font-family:'Fascinate Inline', cursive;
}

.start {
    background-color: grey;
}

.playerContents {
    margin: 0 auto;
    margin-top: 5vh;
    padding: 2vh;
    display: flex;
}

.playerContents h2 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 5vh;
}

.playerOneLeft {
    background-color: grey;
    background-size: cover;
    width: 33%;
    height: 40%;
}

.playerTwoRight {
    background-color: grey;
    background-size: cover;
    width: 33%;
    height: 40%;
    margin: 0;
}

.centralBlock {
    margin: 2vh;
    width: 33%;
    height: 100%;
}